<div class="asterisco">
  <div class="body">
    <img class="wave" src="../../assets/wave.png" alt="wave">
    <div class="container">
      <div class="img">
        <img src="../../assets/transparente.png" alt="transparente">
      </div>
      <div class="login-content" *ngIf="!correoExiste && !contrasenaRestaurada">
        <form>
          <img src="../../assets/logito.png" alt="logo">
          <h1 class="title">Reserve Shoot</h1>
          <h2 class="title">Recuperar Contraseña</h2>
                 <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="div">
                        <label for="Nom_empleado" class="info">Nombre empleado</label>
                        <input type="email" class="input" [(ngModel)]="empleado.Nom_empleado" name="Nom_empleado" placeholder="Nombre empleado" required>
                    </div>
                 </div>
                <a routerLink="/login-admin">¿Recordaste tu contraseña? Inicia Sesión aquí</a>
          <input type="submit" class="btn" value="Recuperar Contraseña" (click)="buscarEmpleado()">
        </form>
      </div>
      <div class="login-content" *ngIf="correoExiste && !contrasenaRestaurada">
        <div class="login-content" *ngIf="correoExiste && !contrasenaRestaurada">
          <form>
              <img src="../../assets/logito.png" alt="logo">
              <h1 class="title">Reserve Shoot</h1>
              <h2 class="title">Cambiar Contraseña</h2>
              <div class="input-div one">
                 <div class="i">
                      <i class="fas fa-lock"></i>
                 </div>
                 <div class="div">
                      <label for="Password_empleado" class="info">Nueva Contraseña</label>
                      <input type="password" class="input" id="password" [(ngModel)]="empleado.Password_empleado" name="Password_empleado" placeholder="Nueva Contraseña" required>
                 </div>
              </div>
              <input type="submit" class="btn" value="Confirmar" (click)="restaurarContrasena()">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>