<app-navbar></app-navbar>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form class="form-inline">
          <fieldset class="form-group col-sm-11"></fieldset>
          <fieldset class="form-group col-sm-1">
            <a class="btn btn-info" [routerLink]="['/empleado/agregar']"><img src="../../../assets/file-plus-solid-24.png" alt="Agregar +"></a>
          </fieldset>
        </form>
        <br>
        <table class="table table-striped">
          <thead>
            <tr class="row">
              <th class="col-sm-1">ID</th>
              <th class="col-sm-1">NOMBRE</th>
              <th class="col-sm-2">CORREO ELECTRONICO</th>
              <th class="col-sm-3">CONTRASEÑA</th>
              <th class="col-sm-1">TIPO DE USUARIO</th>
              <th class="col-sm-1">TELEFONO</th>
              <th class="col-sm-1">GENERO</th>
              <th class="col-sm-2">ACCIONES</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of empleado | async" class="row">
              <td class="col-sm-1"><i>{{ empleado.id_empleado }}</i></td>
              <td class="col-sm-1"><i>{{ empleado.Nom_empleado }}</i></td>
              <td class="col-sm-2"><i>{{ empleado.Correo_elec_admin }}</i></td>
              <td class="col-sm-3"><i>{{ empleado.Password_empleado }}</i></td>
              <td class="col-sm-1"><i>{{ empleado.Tipo_usuario_idTipo_usuario }}</i></td>
              <td class="col-sm-1"><i>{{ empleado.Telefono_empleado }}</i></td>
              <td class="col-sm-1"><i>{{ empleado.Genero_idGenero }}</i></td>
              <td class="col-sm-1">
                <fieldset class="form-group col-sm-1">
                  <a class="btn btn-primary" [routerLink]="['/empleado/actualizar/', empleado.id_empleado]"><img src="../../../assets/edit-alt-solid-24.png" alt="Editar"></a>
                </fieldset>
              </td>
              <td class="col-sm-1">
                <fieldset class="form-group col-sm-1">
                  <a class="btn btn-danger" (click)="borrarEmpleado(empleado.id_empleado)"><img src="../../../assets/trash-solid-24.png" alt="Borrar"></a>
                </fieldset>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
