body {
  margin: 0;
  padding: 0;
  background: url(../../assets/fondoxd.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 200vh;
}
#todo {
  margin-left: 50px;
  margin-right: 50px;
}
.navbar {
  border-radius: 10px;
  margin: 20px;
  padding: 15px;
}
.navbar {
  background-color: #A7D43B;
}
#Empresas {
  margin-left: 100px;
}
a {
  text-decoration: none;
  color: #ad0000;
}
a:hover {
  color: #213bcf;
}
button {
  color: #FFFFFF;
  border: none;
  background: #4CAF50;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 20px;
}
button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}
.navbar-nav {
  text-justify: auto;
  text-align: center;
  align-items: center;
}