<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve shoot</title>
    <link rel="stylesheet" href="segunda-pag.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    <div id="todo">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a href="principal"><img src="https://i.imgur.com/tgXcOzZ.png" alt="Sistema de reservas para actividades recreativas"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                </div>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="principal">Pagina principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="perfil_cliente">Perfil</a>
                    </li>
                </ul>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <a href="inicio_sesion"><button class="btn btn-primary me-md-2" type="button">Cerrar sesion</button></a>
                </div>
            </div>
        </nav>

        <hr>
        <div id="Empresas">
            <h2 align="center">Empresas</h2>
            <br>
            <h3>Nombre de la empresa</h3>
            <img src="https://cdn.pixabay.com/photo/2019/07/03/20/04/store-4315394_960_720.jpg" alt="company profile picture" width="70" height="70">Descripcion de la empresa
            <br>
            <a href="vista_empresa"><button type="button" class="btn btn-warning">Ver perfil</button></a>
            <br>
            <br>
            <h3>Nombre de la empresa</h3>
            <img src="https://cdn.pixabay.com/photo/2019/07/03/20/04/store-4315394_960_720.jpg" alt="company profile picture" width="70" height="70">Descripcion de la empresa
            <br>
            <a href="vista_empresa"><button type="button" class="btn btn-warning">Ver perfil</button></a>
            <br>
            <br>
            <h3>Nombre de la empresa</h3>
            <img src="https://cdn.pixabay.com/photo/2019/07/03/20/04/store-4315394_960_720.jpg" alt="company profile picture" width="70" height="70">Descripcion de la empresa
            <br>
            <a href="vista_empresa"><button type="button" class="btn btn-warning">Ver perfil</button></a>
            <br>
            <br>
            <h3>Nombre de la empresa</h3>
            <img src="https://cdn.pixabay.com/photo/2019/07/03/20/04/store-4315394_960_720.jpg" alt="company profile picture" width="70" height="70">Descripcion de la empresa
            <br>
            <a href="vista_empresa"><button type="button" class="btn btn-warning">Ver perfil</button></a>
            <br>
            <br>
            <h3>Nombre de la empresa</h3>
            <img src="https://cdn.pixabay.com/photo/2019/07/03/20/04/store-4315394_960_720.jpg" alt="company profile picture" width="70" height="70">Descripcion de la empresa
            <br>
            <a href="vista_empresa"><button type="button" class="btn btn-warning">Ver perfil</button></a>
            <br>
            <br>
            <h3>Nombre de la empresa</h3>
            <img src="https://cdn.pixabay.com/photo/2019/07/03/20/04/store-4315394_960_720.jpg" alt="company profile picture" width="70" height="70">Descripcion de la empresa
            <br>
            <a href="vista_empresa"><button type="button" class="btn btn-warning">Ver perfil</button></a>
            <br>
        </div>
        <hr>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <div class="d-grid gap-2 d-md-block">
                                <a href="principal"><button class="btn btn-primary" type="button"><< Atr&aacute;s</button></a>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>

</html>
