<app-navbar></app-navbar>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <form class="form-inline">
          <fieldset class="form-group col-sm-11"></fieldset>
          <fieldset class="form-group col-sm-1">
            <a class="btn btn-info" [routerLink]="['/reservacion/agregar']">
              <img src="../../../assets/file-plus-solid-24.png" alt="Agregar +">
            </a>
          </fieldset>
        </form>
        <br>
        <table class="table table-striped">
          <thead>
            <tr class="row">
              <th class="col-sm-1">ID Reservación</th>
              <th class="col-sm-1">Servicio</th>
              <th class="col-sm-1">Fecha</th>
              <th class="col-sm-1">Hora</th>
              <th class="col-sm-1">Lugar Reservación</th>
              <th class="col-sm-1">Empresa</th>
              <th class="col-sm-1">Cliente</th>
              <th class="col-sm-1">Valor</th>
              <th class="col-sm-1">Empleado</th>
              <th class="col-sm-1">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservacion of reservacion | async" class="row">
              <td class="col-sm-1"><i>{{ reservacion.Id_Reservacion }}</i></td>
              <td class="col-sm-1"><i>{{ reservacion.Servicio_idServicio }}</i></td>
              <td class="col-sm-1"><i>{{ reservacion.Fecha_reservacion }}</i></td>
              <td class="col-sm-1"><i>{{ reservacion.Hora_reservacion }}</i></td>
              <td class="col-sm-1"><i>{{ reservacion.Lugar_reservacion_idLugar_reservacion }}</i></td>
              <td class="col-sm-1"><i>{{ reservacion.Empresa_Nit_Empresa }}</i></td>
              <td class="col-sm-1"><i>{{ reservacion.Cliente_id_Cliente }}</i></td>
              <td class="col-sm-1"><i>{{ reservacion.Valor }}</i></td>
              <td class="col-sm-1"><i>{{ reservacion.Empleados_id_empleado }}</i></td>
              <td class="col-sm-1">
                <fieldset class="form-group col-sm-1">
                  <a class="btn btn-primary" [routerLink]="['/reservacion/actualizar/', reservacion.Id_Reservacion]">
                    <img src="../../../assets/edit-alt-solid-24.png" alt="Editar">
                  </a>
                </fieldset>
              </td>
              <td class="col-sm-1">
                <fieldset class="form-group col-sm-1">
                  <a class="btn btn-danger" (click)="borrarReservacion(reservacion.Id_Reservacion)">
                    <img src="../../../assets/trash-solid-24.png" alt="Borrar">
                  </a>
                </fieldset>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
