
    <div class="asterisco">
        <div class="body">
            <div class="root">
                <div class="container">
                    <div class="navigation" [class.active]="sidebarActive">
                        <ul>
                            <li (mouseover)="setActiveLink()">
                                <a routerLink="/principal_empresa">
                                    <span class="icon">
                                        <img src="../../assets/logo45p.png" alt="Logo" class="img-fluid" >
                                    </span>
                                    <span class="title">Reserve Shoot</span>
                                </a>
                            </li>
            
                            <li>
                                <a routerLink="/principal_empresa">
                                    <span class="icon">
                                        <ion-icon name="file-tray-full-outline"></ion-icon>
                                    </span>
                                    <span class="title">Reservas</span>
                                </a>
                            </li>
            
                            <li>
                                <a routerLink="/perfil_empresa">
                                    <span class="icon">
                                        <ion-icon name="person-circle-outline"></ion-icon>
                                    </span>
                                    <span class="title">Perfil de Empresa</span>
                                </a>
                            </li>
            
            
                            <li>
                                <a href="/inicio_sesion_empresa" (click)="cerrarsesion()">
                                    <span class="icon">
                                        <ion-icon name="log-out-outline"></ion-icon>
                                    </span>
                                    <span class="title">Cerrar Sesion</span>
                                </a>
                            </li>
                        </ul>
                    </div>
            
                    <div class="main" [class.active]="sidebarActive">
                        <div class="topbar">
                            <div class="toggle" (click)="toggleSidebar()">
                                <ion-icon name="menu-outline"></ion-icon>
                            </div>
            
                            <div class="user">
                                <img *ngFor="let e of empresa | async"  [src]="urlimagen+e.Foto_empresa" alt="logo">
                            </div>
                        </div>
            
                        <div class="modal-nuevo">
                            <div class="modal-content-nuevo">
                                <img *ngFor="let e of empresa | async"  [src]="urlimagen+e.Foto_empresa" alt="">
                                <div class="close-nuevo"></div>
                            </div>
                        </div>
                        
                        <div class="container-nuevo">
                            <div class="card-nuevo">
                                <div class="header-nuevo">
                                    <div class="main-nuevo" *ngFor="let e of empresa | async">
                                        <div class="image-nuevo">
                                            <img [src]="urlimagen+e.Foto_empresa" class="imagen" alt="perfil"/>
                                        </div>
                                        <h3 class="name-nuevo">{{e.Nombre_empresa}}</h3>
                                    </div>
                                </div>
                        
                                <div class="content-nuevo" *ngFor="let e of empresa | async">
                                    <div class="left-nuevo">
                                        <div class="about-container-nuevo">
                                            <h3 class="title-nuevo">Correo Electronico</h3>
                                            <p class="text-nuevo">{{e.Correoelectronico_empresa}}</p>
                                        </div>
                                        <br>
                                        <div class="about-container-nuevo">
                                            <h3 class="title-nuevo">Telefono</h3>
                                            <p class="text-nuevo">{{e.Telefono_empresa}}</p>
                                        </div>
                                        <br>
                                        <div class="about-container-nuevo">
                                            <h3 class="title-nuevo">Ciudad</h3>
                                            <p class="text-nuevo">{{e.nombre_ciudad}}</p>
                                        </div>
                                        <br>
                                        <div class="about-container-nuevo">
                                            <h3 class="title-nuevo">Descripción</h3>
                                            <p class="text-nuevo">{{e.Desc_empresa}}</p>
                                        </div>
                                        <br>
                                        <br>
                                        <div class="buttons-wrap-nuevo">
                                            <div class="follow-wrap-nuevo">
                                                <a [routerLink]="['../editar_P_empresa/actualizar/', e.Nit_Empresa]" class="follow-nuevo">Actualizar Perfil</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>