<div class="body root" id="asterisco">
  <div class="container">
      <div class="navigation">
          <ul>
              <li (mouseover)="setActiveLink()">
                  <a routerLink="/principal">
                      <span class="icon">
                          <img src="../../assets/logo45p.png" alt="Logo" class="img-fluid" >
                      </span>
                      <span class="title">Reserve Shoot</span>
                  </a>
              </li>

              <li>
                  <a routerLink="/principal">
                      <span class="icon">
                          <ion-icon name="layers-outline"></ion-icon>
                      </span>
                      <span class="title">Reservas Disponibles</span>
                  </a>
              </li>

              <li>
                  <a routerLink="/pendientes">
                      <span class="icon">
                          <ion-icon name="file-tray-stacked-outline"></ion-icon>
                      </span>
                      <span class="title">Mis Reservas</span>
                  </a>
              </li>

              <li>
                  <a routerLink="/perfil_cliente">
                      <span class="icon">
                          <ion-icon name="person-circle-outline"></ion-icon>
                      </span>
                      <span class="title">Perfil de Usuario</span>
                  </a>
              </li>


              <li>
                  <a href="/inicio_sesion">
                      <span class="icon">
                          <ion-icon name="log-out-outline"></ion-icon>
                      </span>
                      <span class="title" (click)="cerrarsesion()">Cerrar Sesion</span>
                  </a>
              </li>
          </ul>
      </div>

      <div class="main" [class.active]="sidebarActive">
          <div class="topbar">
              <div class="toggle" (click)="toggleSidebar()">
                  <ion-icon name="menu-outline"></ion-icon>
              </div>

              <div class="user">
                  <img *ngFor="let cliente of cliente | async" [src]="urlimagen+cliente.Foto_cliente" alt="">
              </div>
          </div>



          <div class="reservation-details-container">
              <div class="reservation-image-container">
                  <img *ngFor="let reserva of reserva | async" [src]="urlimagen+reserva.Foto_empresa" alt="Imagen del Restaurante" height="125px" width="150px">
              </div>
              <div class="reservation-text-container" *ngFor="let reserva of reserva | async">
                <h1>INFORMACION RESERVA</h1>
                  <h2>Id reserva: {{reserva.Id_Reservacion}}</h2>
                  <h3>Nombre de la empresa: {{reserva.Nombre_empresa}}</h3>
                  <p class="reservation-details-paragraph">Fecha: {{reserva.Fecha_reservacion | date:'dd/MM/yyyy'}}</p>
                  <p class="reservation-details-paragraph">Hora: {{reserva.Hora_reservacion}}</p>
                  <small>Formato de 24 horas</small>
                  <p class="reservation-details-paragraph">Lugar: {{reserva.Direccion_lugarreserv}}, {{reserva.Nom_lugreserv}}</p>
                  <ul class="reservation-details-list">
                    <li class="reservation-detail-item">Servicio: {{reserva.Nombre_servicio}}</li>
                    <li class="reservation-detail-item">Cantidad de personas: {{reserva.Cant_person}}</li>
                    <li class="reservation-detail-item long-text">Recomendaciones: {{reserva.Condiciones}}</li>
                    <li class="reservation-detail-item">Estado: {{reserva.Estatus}}</li>
                  </ul>
                  <h4>Contacto de la empresa</h4>
                  <p class="reservation-details-paragraph">Correo Empresa: {{reserva.Correoelectronico_empresa}}</p>
                  <p class="reservation-details-paragraph">Numero de contacto: {{reserva.Telefono_empresa}}</p>
                  <p class="reservation-details-paragraph"><b>Motivo de rechazo:</b> La empresa no acepto su reservacion por los siguientes motivos motivos. <br> {{reserva.Motivo}}.</p>

                  <button class="cancel-reservation-button" (click)="borrarReservacion(reserva.Id_Reservacion)">
                      <i class="reservation-button-icon fas fa-times"></i> Cancelar Reserva
                  </button>
              </div>
          </div>
</div>
